# Tapis OAuth2 Configuration
WO_TAPIS_BASE_URL=https://portals.tapis.io
WO_TAPIS_TENANT_ID=portals
WO_TAPIS_CLIENT_SECRET=
# WebODM Configuration
# WebODM Configuration
WO_HOST=webodm.tacc.utexas.edu
WO_PORT=8000              # or whatever you actually expose
WO_TAPIS_CALLBACK_URL=https://webodm.tacc.utexas.edu/api/oauth2/tapis/callback
WO_CLUSTERODM_URL=https://clusterodm.tacc.utexas.edu
WO_MEDIA_DIR=/corral/webodm/media
WO_SHARED_VOLUME_ROOT=/corral/webodm/media
WO_CORRAL_GROUP=G-820466
WO_CORRAL_GROUP_ID=820466
WO_DB_DIR=/db
WO_SSL=NO
WO_SSL_KEY=
WO_SSL_CERT=
WO_SSL_INSECURE_PORT_REDIRECT=80
WO_DEBUG=NO
WO_DEV=NO
WO_BROKER=redis://broker
WO_DEFAULT_NODES=1
WO_SETTINGS=
WO_TAS_URL=https://tas.tacc.utexas.edu/api
WO_TAS_SERVICE_USERNAME=<tas-service-username>
WO_TAS_SERVICE_PASSWORD=<tas-service-password>
WO_TAS_RESOURCE_FILTER=LS6,Lonestar6,lonestar6
WO_TAS_DEFAULT_ALLOCATION=PT2050-DataX
